/// color|1|Brand Color|0
$--color-primary: #409eff !default;
/// color|1|Background Color|4
$--color-white: #ffffff !default;
/// color|1|Background Color|4
$--color-black: #000000 !default;
/// color|1|Functional Color|1
$--color-success: #67c23a !default;
/// color|1|Functional Color|1
$--color-warning: #e6a23c !default;
/// color|1|Functional Color|1
$--color-danger: #f56c6c !default;
/// color|1|Functional Color|1
$--color-info: #909399 !default;

$--color-text-regular: #333; //全局文本颜色?

$--tag-border-radius: 2px;

$--checkbox-font-weight: normal;
$--checkbox-border-radius: 1px;
$--radio-font-weight: normal;

/// 手机端时的页面边距
$--mobile-padding: 15px;
$--sidebar-width: 200px; // 侧边菜单栏宽度
